{% extends 'base_mobile.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<style>
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .card {
        border: none;
        border-radius: 0px;
    }
</style>
{% if products %}
<div class="grid-container">

    {% for product in products %}

    <a style="text-decoration: none;" href="{% url 'product_detail' product.pk %}">
        <div class="card" style="border-radius: 0px; border: 0px;">

            <div class=" " style="position: relative;">
                <!-- Изображение продукта -->
                <img style="border-radius: 0px;" src="{{ product.images.first.image.url }}" class="card-img-top"
                     alt="{{ product.name }}">

                <!-- Пеленка и надпись "Sold Out", если количество товара 0 -->
                {% if product.quantity == 0 %}
                <div class="sold-out-overlay">
                    <span>Sold Out</span>
                </div>
                {% endif %}
            </div>

            <!-- Проверка на скидку -->
            {% if product.discount and product.discount.is_active %}
            <div class="discount-label" style="position: absolute; top: 10px; left: 10px; background-color: black; color: white; padding: 5px; border-radius: 3px; font-size: 16px;">
                Save {{ product.discount.discount_percent }}%
            </div>
            {% endif %}

            <div class="card-body" style="text-decoration: none;">
                <div class="d-flex justify-content-end add-to-cart" style="gap: 10px; position: relative">
                    <!-- Кнопки добавления в корзину и избранное -->
                    {% if user.is_authenticated or session_key %}
                    {% if product.quantity > 0 %}
                    <button data-url="{% url 'add_to_favorites' product.id %}"
                            class="btn add-to-favorites"
                            data-product-id="{{ product.id }}" style="padding-bottom: 0;">
                        <i class="bi {% if product.id in favorite_product_ids %}bi-heart-fill{% else %}bi-heart{% endif %}"
                           style="font-size: 35px;"></i>
                    </button>

                    <button data-url="{% url 'cart:add_to_cart' product.id %}"
                            class="btn cart-button"
                            data-product-id="{{ product.id }}" style="padding-bottom: 0;">
                        <i class="bi {% if product.in_cart %}bi-cart-check-fill{% else %}bi-cart{% endif %}"
                           style="font-size: 35px;"></i>
                    </button>
                    {% else %}
                   <button data-url="{% url 'add_to_favorites' product.id %}"
                            class="btn add-to-favorites"
                            data-product-id="{{ product.id }}" style="padding-bottom: 0;">
                        <i class="bi {% if product.id in favorite_product_ids %}bi-heart-fill{% else %}bi-heart{% endif %}"
                           style="font-size: 35px;"></i>
                    </button>

                    <button class="btn disabled" style="padding-bottom: 0;" disabled>
                        <i class="bi bi-cart" style="font-size: 35px; color: grey;"></i>
                    </button>
                    {% endif %}
                    {% else %}
                    <button class="btn redirect-login" style="padding-bottom: 0;">
                        <i class="bi bi-heart" style="font-size: 35px; "></i>
                    </button>

                    <button class="btn redirect-login" style="padding-bottom: 0;">
                        <i class="bi bi-cart" style="font-size: 35px;"></i>
                    </button>
                    {% endif %}

                </div>

                <h5 class="card-title" style="color: black; font-size: 26px; text-align: center;">{{ product.name }}</h5>

                {% if product.discount and product.discount.is_active %}
                <p class="card-text" style="color: black; font-size: 22px; text-align: center;">
                    <del>${{ product.price|floatformat:2 }}</del>
                    <span style="color: red;">${{ product.discounted_price|floatformat:2 }}</span>
                </p>
                {% else %}
                <p class="card-text" style="color: black; font-size: 22px; text-align: center;">${{ product.price|floatformat:2 }}</p>
                {% endif %}
            </div>
        </div>
    </a>
    {% endfor %}

</div>
{% else %}
<div style="text-align: center; align-items; center;">
    <h1 style="text-align: center; ">Products in this category are currently out of stock.<br>But they will be
        available soon!</h1>
    <a href="{% url 'product_list' %}" class="btn btn-dark">Continue Shopping</a>
</div>
{% endif %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const favoriteButtons = document.querySelectorAll('.add-to-favorites');
        const productIds = Array.from(favoriteButtons).map(button => button.getAttribute('data-product-id'));
        const isAuthenticated = "{{ user.is_authenticated }}";
        const redirectButtons = document.querySelectorAll('.redirect-login');

        redirectButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                window.location.href = "{% url 'login' %}";
            });
        });

        // Функция для обновления иконки лайка в зависимости от состояния
        function updateFavoriteIcon(icon, isFavorite) {
            if (isFavorite) {
                icon.classList.add('bi-heart-fill');
                icon.classList.remove('bi-heart');
            } else {
                icon.classList.add('bi-heart');
                icon.classList.remove('bi-heart-fill');
            }
        }

        // Запрос к серверу для получения текущих статусов лайков
        fetch(`/get-favorites-status/?product_ids[]=${productIds.join('&product_ids[]=')}`, {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
            }
        })
        .then(response => response.json())
        .then(data => {
            favoriteButtons.forEach(button => {
                const productId = button.getAttribute('data-product-id');
                const icon = button.querySelector('i');
                const isFavorite = data.favorites.includes(parseInt(productId));
                updateFavoriteIcon(icon, isFavorite);
            });
        })
        .catch(error => console.error('Error fetching favorites:', error));

        // Обработчик клика по кнопке лайка
        favoriteButtons.forEach(button => {
            button.addEventListener('click', function(event) {

                event.preventDefault();
                const url = this.getAttribute('data-url');
                const productId = this.getAttribute('data-product-id');
                const icon = this.querySelector('i');

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    const isFavorite = data.status === 'added';
                    updateFavoriteIcon(icon, isFavorite);
                })
                .catch(error => console.error('Error:', error));
            });
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const cartButtons = document.querySelectorAll('.cart-button');

        function updateCartIcon(icon, isInCart) {
            if (isInCart) {
                icon.classList.add('bi-cart-check-fill');
                icon.classList.remove('bi-cart');
            } else {
                icon.classList.add('bi-cart');
                icon.classList.remove('bi-cart-check-fill');
            }
        }

        fetch('/get-cart-status/', {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            cartButtons.forEach(button => {
                const productId = button.getAttribute('data-product-id');
                const icon = button.querySelector('i');
                const isInCart = data.cart_items.includes(parseInt(productId));
                updateCartIcon(icon, isInCart);
            });
        })
        .catch(error => console.error('Error fetching cart status:', error));

        cartButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                const productId = this.getAttribute('data-product-id');
                const url = `/toggle-cart-item/${productId}/`;
                const icon = this.querySelector('i');

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'added') {
                        updateCartIcon(icon, true);
                    } else if (data.status === 'removed') {
                        updateCartIcon(icon, false);
                    }
                    // Обновление количества товаров в корзине, если требуется
                    if (data.quantity !== undefined) {
                        document.querySelector('.cart-count').textContent = data.quantity;
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        });
    });
</script>
{% endblock %}
