{% extends 'base_desktop.html' %}
{% load static %}
{% load cart_extras %}

{% block content %}
<div class="container mt-1">
    {% if items %}
    <h2 style="text-align: center;">Your Cart</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody id="cart-items">
        {% for item in cart.items.all %}
        <tr data-item-id="{{ item.id }}">
            <td class="text-center align-middle">
    <div class="d-flex align-items-center justify-content-center" style="cursor: pointer;">
        <img src="{{ item.product.images.first.image.url }}" alt="{{ item.product.name }}" class="mini-product-img"
             data-toggle="modal"
             data-target="#productModal"
             data-name="{{ item.product.name }}"
             {% if item.product.discount and item.product.discount.is_active %}
                 data-price="{{ item.product.discounted_price|floatformat:2 }}"
                 data-discounted-price="{{ item.product.discounted_price|floatformat:2 }}"
             {% else %}
                 data-price="{{ item.product.price|floatformat:2 }}"
                 data-discounted-price=""
             {% endif %}
             data-original-price="{{ item.product.price|floatformat:2 }}"
             data-description="{{ item.product.description }}"
             data-image="{{ item.product.images.first.image.url }}">
    </div>
</td>
            <td class="align-middle">
                <span class="product-name">{{ item.product.name }}</span>
            </td>
            <td class="text-center align-middle">
                <span class="item-quantity">{{ item.quantity }}</span>
            </td>
            <td class="text-center align-middle">
                {% if item.product.discount and item.product.discount.is_active %}
                ${{ item.product.discounted_price|floatformat:2 }}
                {% else %}
                ${{ item.product.price }}
                {% endif %}
            </td>
            <td class="text-center align-middle item-total-price">${{ item.get_total_price|floatformat:2 }}</td>
            <td class="text-center align-middle">
                <button class="btn btn-sm btn-outline-secondary update-cart-item"
                        data-url="{% url 'cart:update_cart_item_quantity' item.id 'decrease' %}" data-action="decrease">
                    -
                </button>
                <button class="btn btn-sm btn-outline-secondary update-cart-item"
                        data-url="{% url 'cart:update_cart_item_quantity' item.id 'increase' %}" data-action="increase">
                    +
                </button>
                <a href="{% url 'cart:remove_from_cart' item.id %}" class="btn btn-secondary btn-sm">Remove</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-between">
        <h4>Total: $<span id="cart-total-price">{{ cart.items.all|get_cart_total_price|floatformat:2 }}</span></h4>
        <a href="{% url 'checkout' %}" class="btn btn-dark"
           style="display: flex; align-items: center; justify-content: center; font-size: 20px;">Checkout</a>
    </div>
    {% else %}
    <div class="row mt-4 text-center">
        <div class="col-md-12">
            <h1>Your cart is currently empty.</h1>
            <a href="{% url 'product_list' %}" class="btn btn-dark">Continue Shopping</a>
        </div>
    </div>
    {% endif %}
</div>

<!-- Product Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Product Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="modal-product-image" src="" alt="" class="img-fluid mb-3">
                <h4 id="modal-product-name" style="text-align: center; font-size: 28px;"></h4>
                <p id="modal-product-description" style="text-align: justify; font-size: 20px;"></p>
                <p class=" " style="font-size: 20px; color: black;">Price: <span id="modal-product-price"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const updateButtons = document.querySelectorAll('.update-cart-item');
        const csrfTokenElement = document.querySelector('[name=csrfmiddlewaretoken]');

        if (!csrfTokenElement) {
            console.error('CSRF token not found');
            return;
        }

        const csrfToken = csrfTokenElement.value;

        updateButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                const url = this.getAttribute('data-url');
                const itemRow = this.closest('tr');
                const quantityElement = itemRow.querySelector('.item-quantity');
                const itemTotalPriceElement = itemRow.querySelector('.item-total-price');
                const cartTotalPriceElement = document.getElementById('cart-total-price');

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-CSRFToken': csrfToken
                    }
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.quantity > 0) {
                        quantityElement.textContent = data.quantity;
                        const itemTotalPrice = parseFloat(data.item_total_price).toFixed(2);
                        itemTotalPriceElement.textContent = `$${itemTotalPrice}`;
                    } else {
                        itemRow.remove();
                    }
                    const cartTotalPrice = parseFloat(data.cart_total_price).toFixed(2);
                    cartTotalPriceElement.textContent = `${cartTotalPrice}`;
                })
                .catch(error => console.error('Error:', error));
            });
        });

        // Add <br> after each word in product name
        const productNames = document.querySelectorAll('.product-name');
        productNames.forEach(nameElement => {
            const words = nameElement.textContent.split(' ');
            nameElement.innerHTML = words.join('<br>');
        });

        // Modal functionality
        $('#productModal').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget); // Button that triggered the modal
            const name = button.data('name');
            const price = button.data('price');
            const originalPrice = button.data('original-price');
            const discountedPrice = button.data('discounted-price');
            const description = button.data('description');
            const image = button.data('image');

            const modal = $(this);
            modal.find('#modal-product-name').text(name);
            modal.find('#modal-product-price').html(discountedPrice ? `<span style="text-decoration: line-through;">$${originalPrice}</span> $${discountedPrice}` : `$${price}`);
            modal.find('#modal-product-description').text(description);
            modal.find('#modal-product-image').attr('src', image);
        });
    });
</script>
{% endblock %}
