{% extends 'base_desktop.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-12" style="width: 400px;">
            <form method="POST" class="p-4 border rounded bg-white shadow-sm">
                <h2 class="text-center mb-4">Verify Reset Code</h2>
                <div class="mt-3 text-center">
                    <p class="text-muted">Enter the 6-digit code sent to your email.</p>
                </div>
                {% csrf_token %}
                {{ form|crispy }}

                <button type="submit" class="btn btn-dark btn-block" name="submit_code">Verify Code</button>

                <div class="mt-4 text-center">
                    <p>Didn't receive the code?</p>
                    <button type="submit" name="resend_code" id="resend-code-btn" class="btn btn-secondary btn-block" disabled>Resend Code <span id="timer">2:00</span></button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
// Таймер на 2 минуты для кнопки "Resend Code"
let timer = 2;  // 2 минуты в секундах
const timerDisplay = document.getElementById('timer');
const resendButton = document.getElementById('resend-code-btn');

function updateTimer() {
    if (timer > 0) {
        timer--;
        const minutes = Math.floor(timer / 60);
        const seconds = timer % 60;
        timerDisplay.textContent = `${minutes}:${seconds < 10 ? '0' + seconds : seconds}`;
    } else {
        resendButton.disabled = false;
        timerDisplay.textContent = '';
    }
}

// Запускаем таймер каждые 1 секунду
setInterval(updateTimer, 1000);
</script>
{% endblock %}
