/* caro/shop/static/css/styles.css */
body {
    background-color: #ffffff; /* Светло-серый фон для всего сайта */
    font-family: 'Didact Gothic', serif; /* Классический шрифт */
    margin: 0;
    -webkit-tap-highlight-color: transparent;

}

 a:active, a:hover, a:focus, a {
    text-decoration: none;
    }

header, footer {
    background-size: cover;
}

button:active,
button:focus {
    outline: none;
    box-shadow: none;
}

h1 {
    color: #333; /* Темный цвет для заголовка */
}

.grid-container {
    display: grid;
    max-width: 1440px;
    grid-template-columns: repeat(3, 33.33vw);
    gap: 40px 0px; /* Промежуток между колонками */
    justify-content: center; /* Центрирование блока */
    transition: all 0.3s ease;
}

.card {
    display: flex;
    transition: all 0.5s ease;
    text-decoration: none;
    max-width: 600px;

}


.grid-item {
    flex: 1 1 450px; /* Гибкий блок с минимальной шириной 300px */
    background-color: #fff; /* Белый фон для карточек */
    padding: 20px;

    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; /* Плавное изменение размеров */
    text-decoration: none;
}




.grid-item img {
    width: 100%; /* Ширина изображения равна ширине блока */
    border-radius: 5px;
    object-fit: cover;
    transition: all 0.3s ease;
}



.card-title, .card-text {
    color: #666; /* Цвет текста внутри карточки */
    text-decoration: none;
}

.card-text {
    overflow: hidden;
    white-space: nowrap; /* Для однострочного текста */
    text-overflow: ellipsis;
    max-width: 100%; /* Установите максимальную ширину для текста */
    text-decoration: none;
}

@media (max-width: 1420px) {
    .grid-container {
        grid-template-columns: repeat(3, 33.33vw); /* 3 колонки при сужении экрана */
    }
}

@media (max-width: 1300px) {
    .grid-container {
        grid-template-columns: repeat(3, 380px); /* 3 колонки при сужении экрана */
    }
}

@media (max-width: 1190px) {
    .grid-container {
        grid-template-columns: repeat(3, 350px); /* 3 колонки при сужении экрана */
    }
}

@media (max-width: 1100px) {
    .grid-container {
        grid-template-columns: repeat(3, 320px); /* 3 колонки при сужении экрана */
    }
}

@media (max-width: 1000px) {
    .grid-container {
        grid-template-columns: repeat(3, 290px); /* 3 колонки при сужении экрана */
    }
}

@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(2, 50vw); /* 2 колонки при сужении экрана */
    }
}

@media (max-width: 750px) {
    .grid-container {
        grid-template-columns: 1fr; /* 1 колонка при сужении экрана */
    }
}

.flex-grow-1 {
    flex-grow: 1;
}



.col-md-8 {
    display: flex;
    justify-content: center;
}

.image-grid {
    display: grid;

    gap: 10px;
}

.image-large {
    grid-column: 1 / -1;
    width: 100%;
    height: auto;
}

.image-small {
    height: auto;
    width: 100%;
    object-fit: cover;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.image-small-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

nav .nav-link {
    color: black;
    text-decoration: none;
}





.card .card-title {
    font-size: 1.5rem;
    font-weight: bold;
}


.card .btn-link {
    font-weight: bold;
    color: #007bff;
}

.card .btn-link:hover {
    color: #0056b3;
    text-decoration: none;
}

.card-body form .form-control {
    border-radius: 5px;
    height: 45px;
    width: 50px;/* Установим фиксированную высоту для полей ввода */
}

.card-body form .btn {
    border-radius: 5px;
}

.form-group {
    margin-bottom: 1.5rem; /* Увеличим отступы между полями */
}

input #id_username {
    width: 60px;
}





.card {
    position: relative;
}

.add-to-cart {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: inline-block;
}

.add-to-cart-button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.add-to-cart-button img {
    width: 24px;
    height: 24px;
}

.add-to-cart-button:hover img {
    filter: brightness(0.8); /* Добавляет эффект при наведении */
}

.btn:focus {
    outline: none;
    box-shadow: none;
}


.mini-product-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.product-name {
    white-space: pre-line;
    word-break: break-word;
}

.d-flex.align-items-center {
    height: 100%;
}

td.text-center.align-middle {
    vertical-align: middle;
}




/* Стили для личного кабинета пользователя */
.user-info {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.user-info i {
    color: #007bff;
}

.user-info h3 {
    margin-bottom: 10px;
    font-size: 24px;
}

.user-info p {
    margin-bottom: 20px;
    color: #6c757d;
}



.user-details {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-details h4 {
    margin-top: 20px;
}

.user-details p {
    margin-bottom: 10px;
}


table, th {
  border: 0;
  border-collapse: collapse;
  border: none !important;
}


.form-control:focus {
    outline: none;
    box-shadow: none;
}

.custom-dropdown-menu {
    width: 50px;

}


.block {
    display: none;
}


.dropdown-menu {
    min-width: 70px !important;  /* Установите желаемую ширину */
    padding: 0;          /* Уменьшите отступы, если необходимо */
}

.dropdown-toggle {
    height: 50px;
}

.dropdown-toggle::after {
    vertical-align: 0;
    content: none;
}

.dropdown-item {
    padding-left: 18px;
}


.profile-section {
    margin-bottom: 30px;

}
.profile-section h5 {
    font-weight: bold;
}
.profile-card {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    height: 150px;
}
.profile-card p {
    margin: 0;
}
.profile-card .d-flex {
    margin-bottom: 10px;
}

.menu .nav-link {
    padding: 3px 30px;
}





.center {
  display: block;
  margin: auto;
}

.navbar-toggler {
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-collapse {
        text-align: center;
    }
}
@media (max-width: 500px) {


.new-dropdown-menu {
    min-width: 150px !important;  /* Установите желаемую ширину */
    padding: 0;              /* Уменьшите отступы, если необходимо */
}


.nav-link {
    color: black;
}







.burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger span{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #FAF6F2;
}

.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #FAF6F2;
    transition: all 0.3s ease 0s;
}

.burger::before { top: 0 }

.burger::after { bottom: 0 }



/* Добавляем класс active для анимации иконки бургера */
.burger.active span { transform: scale(0) }

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}


/* При разрешении экрана 900px и ниже, выводим на экран иконку бургера */
@media (max-width: 900px) {

    .burger { display: flex }

.nav{
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: black;
        animation: burgerAnimation 0.4s;
    }

    .nav a{
        flex-direction: column;
        row-gap: 30px;
    }
}

@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}


input:focus {
    outline: none;
    box-shadow: none;
    border-color: black; /* Устанавливаем цвет границы в черный */
}

input {
    caret-color: black; /* Устанавливаем цвет курсора в черный */
}


